<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlchdd?autoReconnect&amp;amp;useUnicode=true&amp;amp;characterEncoding=utf8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.useUnicode">true</property>
    <property name="hibernate.connection.characterEncoding">UTF-8</property>
    <property name="hibernate.connection.charSet">UTF-8</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
<!--    <property name="hibernate.show_sql">true</property>-->
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.format_sql">true</property>
    <!--    <property name="hibernate.current_session_context_class">thread</property>-->
    <mapping class="model.entities.KhuyenMai"/>
    <mapping class="model.entities.CthdBan"/>
    <mapping class="model.entities.TaiKhoan"/>
    <mapping class="model.entities.NhaCungCap"/>
    <mapping class="model.entities.HoaDonMua"/>
    <mapping class="model.entities.KhachHang"/>
    <mapping class="model.entities.PhanQuyen"/>
    <mapping class="model.entities.CthdMua"/>
    <mapping class="model.entities.HoaDonBan"/>
    <mapping class="model.entities.NhaSanXuat"/>
    <mapping class="model.entities.NhanVien"/>
    <mapping class="model.entities.SanPham"/>
    <mapping class="model.entities.BaoHanh"/>
    <mapping class="model.entities.HoaHong"/>
  </session-factory>
</hibernate-configuration>
